        body {
            font-family: Arial, sans-serif;
            background-color: black;
            background-image: url('thumb-1920-1386592.png');
            color: yellow;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        #result {
            font-size: 20px;
            font-weight: bold;
            color: yellow;
            margin-top: 20px;
        }

        #top-image {
            width: 10%;
            height: auto;
            display: block;
            margin: 20px auto;
        }

        #image-caption {
            font-size: 50px;
        }

        .button-19 {
            appearance: button;
            background-color: #000000;
            border: solid transparent;
            border-radius: 16px;
            border-width: 0 0 4px;
            box-sizing: border-box;
            color: #000000;
            cursor: pointer;
            display: block;
            font-family: din-round, sans-serif;
            font-size: 15px;
            font-weight: 700;
            letter-spacing: .8px;
            line-height: 20px;
            margin: 10px 0;
            outline: none;
            overflow: visible;
            padding: 13px 16px;
            text-align: center;
            text-transform: uppercase;
            touch-action: manipulation;
            transform: translateZ(0);
            transition: filter .2s;
            user-select: none;
            -webkit-user-select: none;
            white-space: nowrap;
            width: 300px;
        }

        .button-19:after {
            background-clip: padding-box;
            background-color: #ffd900;
            border: solid transparent;
            border-radius: 16px;
            border-width: 0 0 4px;
            bottom: -4px;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
        }

        .button-19:hover:not(:disabled) {
            filter: brightness(1.1);
        }

        .button-19:disabled {
            cursor: auto;
        }

        .button-19:active {
            border-width: 4px 0 0;
            background: none;
        }
